* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../../images/backgroundLp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}

.container1 {
  background-color: $backgroud-color;
  width: 450px;
  height: auto;
}

.topLogo {
  width: 350px;
}

.paragraph {
  margin: 6px 0px;
}

.btnSend {
  color: $button-color;
  border: 1px solid $button-color;

  &:hover {
    background-color: $button-color;
    color: white;
  }
}

.fotter {
  margin-top: 25px;
  margin-bottom: -30px;
}
